<div class="container">
    <div class="jumbotron">
        <h1>Bem vindo ao sistema de controle de vendedor / cliente!</h1>
        <p>

            <i class="fa fa-id-card-o" aria-hidden="true"></i>

        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
                <th></th>
                <th>NOME Autor</th>
                <th>EMAIL Autor</th>
                <th>TEL/CELULAR</th>
                <th>TEL/FIXO</th>
                <th>LINKEDIN</th>
            </tr>
            <tbody>
            <tr class="odd">
                <td><img src="https://media.licdn.com/dms/image/C5603AQFjKT261zQUqQ/profile-displayphoto-shrink_200_200/0?e=1557360000&v=beta&t=h4M8pXLn-4soxyX_hcotP9rXJm9ealpQTVyIu21Bqqo" alt="..." class="img-thumbnail"></td>
                <td>ROBSON EMILIO LANGKAMMER</td>
                <td>robsonlangkammer@hotmail.com</td>
                <td>031-99259-3480</td>
                <td>031-2567-3880</td>
                <td>https://www.linkedin.com/in/robson-emilio-langkammer-5827b14b/</td>
            </tr>
            </thead>
        </table>
        </p>
    </div>
</div>